/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1440px;
    max-height: 1080px;
    margin: 0 auto;
    padding-top: 40px;

}

/* common css */
.container {
    width: 960px;
    margin: 0 auto;
}

/* Checkout form section */
.checkout-form-container {
    width: 100%;
    display: flex;
    gap: 42px;
    justify-content: space-between;
}

.checkout-form-content {
    width: 55%;
}

.container h1 {
    color: #4E5150;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.checkout-form-content h2 {
    color: var(--gray-1, #333);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 50px;
    margin-bottom: 16px;
}

form {
    margin-bottom: 24px;
}

.label {
    color: var(--gray-2, #4F4F4F);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 7px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.input-container2 {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.country-field,
.postal-field {
    width: 50%;
}

.icon {
    position: absolute;
    left: 12px;
    width: 24px;
    height: 24px;
}

input,
select {
    color: var(--gray-3, #828282);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 12px;
    border: 1px solid var(--gray-3, #828282);
    padding: 18px 24px 18px 52px;
    width: 100%;
}

.remember-me {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    margin-bottom: 24px;
}

.remember-me .label {
    margin: 0px;
}

.checkbox {
    width: fit-content;
    width: 16px;
    height: 16px;
}

.btn-div {
    text-align: right;
}

.btn-submit {
    border: none;
    color: white;
    padding: 20px 46px;
    border-radius: 12px;
    background: var(--orange, #F2994A);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

/* cart section */
.cart-container {
    margin-top: 100px;
    width: 45%;
    height: fit-content;
    padding: 48px 36px;
    border-radius: 12px;
    background-color: var(--gray-6, #F2F2F2);

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cart-content {
    display: flex;
    gap: 24px;
}

.cart-img {
    width: 40%;
    border-radius: 12px;
}

.cart-bill {
    width: 60%;
}

.cart-bill h3 {
    color: #4E5150;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cart-bill h4 {
    color: var(--orange, #F2994A);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 16px;
}

.before-value {
    color: #4E5150;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: line-through;
}

.cart-count {
    margin-top: 24px;
    width: fit-content;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: start;

    padding: 12px 24px;
    border-radius: 12px;
    border: 1px solid var(--gray-3, #828282);
}

.quantity {
    border: none;
    background: transparent;
    padding: 5px;
    outline: none;
}

.icon-plus-minus {
    background-color: #d4d4d4;
    padding: 1px 2px;
    border-radius: 3px;
}

.total-price {
    margin-top: 42px;
}

.hr-line {
    margin: 12px 0px;
}

.shipping {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shipping h3 {
    color: var(--gray-1, #333);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.shipping p {
    color: var(--gray-1, #333);
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



/* =============== Responsive =============== */
@media only screen and (max-width:425px) {

    body {
        width: 100%;
        margin: 0 auto;
        padding-top: 10px;
    }

    .container {
        width: 100%;
        padding: 10px 18px;
    }

    /* Checkout form */
    .checkout-form-container {
        flex-direction: column-reverse;
        gap: 42px;
    }

    .checkout-form-content {
        width: 100%;
    }

    input,
    select {
        font-size: 14px;
        border-radius: 10px;
        padding: 14px 20px 14px 42px;
        width: 100%;
    }

    /* cart container */
    .cart-container {
        width: 100%;
        margin-top: 24px;
        padding: 22px 18px;
    }

    .cart-content {
        gap: 12px;
    }

    .cart-img {
        width: 45%;
        border-radius: 12px;
    }
}